.screen5-inner {
    position: absolute;
    top: 40%;
    left: 40%;
    // top: 50%;
    // left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    .square {
        position: absolute;
        top: -14%;
        left: -45%;
        width: adaptive-size-width(40);
        height: adaptive-size-width(40);
        background-color: $wc;
        &:before {
            content: '';
            position: absolute;
            top: 48%;
            // transform: translateY(-50%);
            left: -242%;
            width: adaptive-size-width(1451);
            height: 0.2px;
            background-color: #d9d9d9;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            top: -169%;
            left: 50%;
            transform: translateX(-50%);
            width: 0.2px;
            height: adaptive-size-width(384);
            background-color: #d9d9d9;
        }
    }
    .circle {
        position: relative;
        width: adaptive-size-width(478);
        height: adaptive-size-width(478);
        background-color: #f0dfcd;
        border-radius: 50%;
        z-index: 1;
    }
    .decor-rectangle {
        position: absolute;
        top: -10%;
        left: 60%;
        width: adaptive-size-width(744);
        height: adaptive-size-width(326);
        background-color: $wc;
        z-index: 0;
        &-lines {
            @include tFlex();
            gap: adaptive-size-width(7);
            position: absolute;
            top: -50%;
            right: -105%;
            // top: -60%;
            z-index: 3;
            &:before,
            &:after {
                content: '';
                // position: absolute;
                // top: -60%;
                width: adaptive-size-width(22);
                height: adaptive-size-width(386);
                background-color: #ecebe9;
                z-index: 2;
            }
            &:before {
                // right: adaptive-size-width(66);
            }
            &:after {
                // right: adaptive-size-width(95);
            }
        }
    }
}

.screen7-inner {
    position: absolute;
    top: -30%;
    left: -6%;
    z-index: -2;
    @media (max-width: 600px) {
        top: -20%;
    }
    .circle {
        position: relative;
        // width: 792px;
        // height: 792px;
        width: adaptive-size-width(792);
        height: adaptive-size-width(792);
        border-radius: 50%;
        background-color: #f0dfcd;
    }

    .square {
        position: absolute;
        top: 0;
        right: 0;
        // height: 222px;
        // width: 222px;
        height: adaptive-size-width(222);
        width: adaptive-size-width(222);
        background-color: $wc;
        &:before {
            content: '';
            position: absolute;
            top: -20%;
            left: 0;
            width: 2px;
            // height: 317px;
            height: adaptive-size-width(317);
            background-color: #d9d9d9;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -30%;
            // width: 458px;
            width: adaptive-size-width(458);
            height: 2px;
            background-color: #d9d9d9;
        }
    }
}

.screen10-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    .rect {
        position: relative;
        width: adaptive-size-width(944);
        height: adaptive-size-width(326);
        background-color: $wc;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: adaptive-size-width(-83);
            height: 1px;
            width: adaptive-size-width(1100);
            background-color: #c9c5bf;
            z-index: 1;
        }
        .squares {
            position: absolute;
            bottom: adaptive-size-width(-20);
            left: adaptive-size-width(-20);
            @include tFlex();
            flex-direction: column;
            gap: adaptive-size-width(15);
            span {
                width: adaptive-size-width(40);
                height: adaptive-size-width(40);
                background-color: #f0dfcd;
            }
        }
        .rect-small {
            position: absolute;
            top: adaptive-size-width(18);
            right: -5%;
            @include tFlex();
            flex-direction: column;
            gap: adaptive-size-width(7);
            z-index: 1;
            span {
                width: adaptive-size-width(205);
                height: adaptive-size-width(22);
                background-color: #ecebe9;
            }
        }
        .circle {
            position: absolute;
            top: adaptive-size-width(-66);
            right: adaptive-size-width(66);
            width: adaptive-size-width(132);
            height: adaptive-size-width(132);
            background-color: #f0dfcd;
            border-radius: 50%;
            z-index: -2;
        }
    }
    .triangle {
        position: absolute;
        display: block;
        right: -23%;
        bottom: -23%;
        width: 25.625vw;
        height: 15.625vw;
        transform: rotate(313deg);
        background-color: $gray;
        z-index: 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -30%;
            width: adaptive-size-width(700);
            height: 1px;
            background-color: #c9c5bf;
        }
    }
}

.pin-inner {
    .pin {
        position: relative;
        min-width: adaptive-size-width(360);
        @include tFlex(flex-end, center);
        gap: adaptive-size-width(20);
    }
    .left-line {
        position: relative;
        width: adaptive-size-width(180);
        height: adaptive-size-width(68);
        @media (max-width: 768px) {
            width: 90px;
            height: auto;
        }
        &:before {
            content: '';
            position: absolute;
            top: adaptive-size-width(17);
            right: adaptive-size-width(17);
            width: adaptive-size-width(23);
            height: adaptive-size-width(23);
            border-radius: 100%;
            background: transparentize($mc3, 0.2);
            animation: ripple 1.5s linear infinite;
            transition: all 0.7s ease-in;
            z-index: 1;
            @media (max-width: 768px) {
                width: 20px;
                height: 20px;

                top: -2px;
                right: -1px;
                // transform: translate(20%, -20%);
            }

            @keyframes ripple {
                0% {
                    box-shadow: 0 0 0 0 rgba($mc3, 0.3),
                        0 0 0 adaptive-size-width(1) rgba($mc3, 0.3),
                        0 0 0 adaptive-size-width(3) rgba($mc3, 0.3),
                        0 0 0 adaptive-size-width(5) rgba($mc3, 0.3);
                }
                100% {
                    box-shadow: 0 0 0 0 rgba($mc3, 0.3),
                        0 0 0 adaptive-size-width(8) rgba($mc3, 0.3),
                        0 0 0 adaptive-size-width(20) rgba($mc3, 0),
                        0 0 0 adaptive-size-width(20) rgba($mc3, 0);
                }
            }

            @media (max-width: 768px) {
                @keyframes ripple {
                    0% {
                        box-shadow: 0 0 0 0 rgba($mc3, 0.3), 0 0 0 1px rgba($mc3, 0.3),
                            0 0 0 3px rgba($mc3, 0.3), 0 0 0 5px rgba($mc3, 0.3);
                    }
                    100% {
                        box-shadow: 0 0 0 0 rgba($mc3, 0.3), 0 0 0 8px rgba($mc3, 0.3),
                            0 0 0 28px rgba($mc3, 0), 0 0 0 20px rgba($mc3, 0);
                    }
                }
            }
        }
    }
    .badge {
        position: relative;
        bottom: adaptive-size-width(-23);
        padding: adaptive-size-width(10);
        // min-width: 163px;
        font: normal 350 32px / 1 'Rain Tungsten';
        @include adaptive-font(32, 14);
        color: $wc;
        text-align: center;
        border-radius: 4px;
        background: $mc;
        @media (max-width: 768px) {
            padding: adaptive-size-width(10, 768);
            // min-width: 100px;
        }
    }
}

.pin-inner-reverse {
    .pin-reverse {
        position: relative;
        @include tFlex(flex-end, center);
        flex-direction: row-reverse;
        gap: adaptive-size-width(20);
    }
    .left-line-reverse {
        position: relative;
        width: adaptive-size-width(180);
        height: adaptive-size-width(68);
        @media (max-width: 768px) {
            width: 90px;
            height: auto;
        }
        svg {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: adaptive-size-width(17);
            left: adaptive-size-width(17);
            width: adaptive-size-width(23);
            height: adaptive-size-width(23);
            border-radius: 100%;
            background: transparentize($mc3, 0.2);
            animation: ripple 1.5s linear infinite;
            transition: all 0.7s ease-in;
            z-index: 1;

            @media (max-width: 768px) {
                width: 20px;
                height: 20px;

                bottom: 0;
                left: 0;
                // transform: translate(-20%, 20%);
            }
        }
    }
    .badge-reverse {
        position: relative;
        top: adaptive-size-width(-40);
        right: 0;
        padding: adaptive-size-width(10);
        // min-width: 163px;
        font: normal 350 32px / 1 'Rain Tungsten';
        @include adaptive-font(32, 14);
        color: $wc;
        text-align: center;
        border-radius: 4px;
        background: $mc;

        @media (max-width: 768px) {
            padding: adaptive-size-width(10, 768);
            top: -26px;
        }
    }
}

.badge-pin {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    &-normal__desk {
        display: block;
    }
    &-reverse__desk {
        display: block;
    }
    &-reverse__mob {
        display: none;
    }
    &-normal__mob {
        display: none;
    }
    @media (max-width: 768px) {
        &-normal__desk {
            display: none;
        }
        &-reverse__desk {
            display: none;
        }
        &-reverse__mob {
            display: block;
        }
        &-normal__mob {
            display: block;
        }
    }
}

.main-map-animation {
    rect,
    path:nth-child(3) {
        transition: fill 0.3s ease;
    }
    &:hover {
        cursor: pointer !important;
        rect {
            fill: transparentize($mc3, 0.2);
        }
        path:nth-child(3) {
            fill: transparentize($mc3, 0.2);
        }
    }
}
