
- 
    var aboutItems = [
        {
            title: 'квартир',
            count: 8,
        },
        {
            title: 'коммерческих помещения',
            count: '3',
        },
        {
            title: 'паркомест',
            count: 13,
        },
    ];

section#about-complex.home-screen2.screen-home
    .home-screen2-row.container
        .home-screen2-desc
            h2.home-screen-title Историческое наследие и современный комфорт в сердце Межапарка
            p.home-screen-subtitle StokholmasHaus26 — комплекс из двух жилых домов клубного типа и коммерческого объекта, расположенные на участке площадью более 2800 Квм. Фундаментальные строения с качественной, эстетичной и современной реновацией гармонично вписывают городской стиль жизни в природный ансамбль.
        ul.home-screen2-info
            each item in aboutItems
                li 
                    span.home-screen2-info__count= item.count
                    span.home-screen2-info__title= item.title
    .home-screen2-img.main-image-decor
        +img('home/home-page-screen2.png')