.home-screen1
    .home-screen1-row.container-fix
        h1.home-screen1-row-title__left
            span S
            | tokholmas
        .home-screen1-row-title__right
            div
                span Ba
                span u
                    span Ba<b>u</b>haus
                span haus
                span 26
            p Место, в котором хранится история и зарождается новая жизнь, преображая прошлое в настоящее
    .main-image-decor(parallax-block data-speed="2" data-percent="0.1")
        +img('home/home-page-screen1.png') 