section.home-screen10.screen-home
    .home-screen10-row
        .home-screen10-title
            include ../homePageElements/home-screen10-element.pug
            h2 Расположениe
            span которое восхищает
        +img('home/home-page-screen10.jpg').container