section.home-screen3.screen-home(data-home-screen)#descriptionSection
    .home-screen3-row
        .home-screen3-img(parallax-block data-speed="2" data-percent="1")
            span.rectangle
            +img('home/home-page-screen3.jpg')
        .home-screen3-desc
            h2.home-screen-title Возрождение истории: стильный дом с историческим шармом
            p.home-screen-subtitle Архитектурно-дизайнерские решения по реновации, строительству и интерьерам проекта реализовала творческая мастерская, широко известная в Латвии и за рубежом, с более чем 20-летним опытом работы “DOM Interjera Studija”. Элегантный дизайн в сдержанном буржуазном стиле, технические инновации и удобства продуманы до мелочей авторами проекта.
            p.home-screen-subtitle На объекте представлены жилые квартиры с оптимальной планировкой площадями от 36 и до 95 кв м. Интерьеры холлов продолжают общий архитектурный стиль дома и квартир в нем, лестничные пространства украшены витражным остеклением ручной работы. Большие деревянные окна приносят много света и органичности в визуальную фундаментальность реновации. Использованы высококачественные строительные и отделочные материалы.  
            .decoration-line
                span 
                span 
                span 
                span 
                span.active 
                span 
                span 