- 
    var apartments = [
        {
            name: "apartment-button",
            title: "Stokholmas 26",
            value: "stokholmas-26",
            id: "stokholmas-26",
            dataBuild: 1,
        },
        {
            name: "apartment-button",
            title: "Stokholmas 26 c",
            value: "stokholmas-26-c",
            id: "stokholmas-26_c",
            dataBuild: 2,
        },
    ];

section#plans.home-screen8.screen-home(data-apartment-section)
    .home-screen8-row.container
        ul.home-screen8-buttons(container-button-scheme)
            each apartment in apartments
                li.home-screen8-buttons__item
                    button(value= apartment.value data-build=apartment.dataBuild).label-button= apartment.title
        .home-screen8-apartment(data-apartment-info)
            .apartment-info(data-apartment-info-table)
                table
                    thead
                        tr
                            td Общая площадь:
                            //- td(data-apartment-label="currency") 154.6 м2
                            td
                                span.table-row-spinner.spinner
                        tr
                            td Количество комнат:
                            //- td(data-apartment-label="all_room") 4
                            td
                                span.table-row-spinner.spinner
                    tbody
                        tr
                            td(style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;")
                                span.table-row-spinner.spinner
                        //- tr 
                        //-     td Кухня:
                        //-     td(data-apartment-label="custom_field_1") 32.8 м2
                        //- tr 
                        //-     td Ванная комната:
                        //-     td(data-apartment-label="custom_field_2") 12.4 м2
                        //- tr 
                        //-     td Спальня:
                        //-     td(data-apartment-label="custom_field_3") 24.9 м2
                        //- tr 
                        //-     td Детская комната:
                        //-     td(data-apartment-label="custom_field_4") 16.2 м2
            .apartment-scheme(data-apartment-scheme)
            .apartment-level
                h3 Етаж
                .apartment-level-buttons(data-level-buttons)
                    button(value=1 data-apartment-level data-section=1) 1
                    button(value=2 data-apartment-level data-section=2).apartment-level-btn__active 2 
    .home-screen8-img
        .home-screen8-img__badge-one
            include ../homePageElements/pin.pug
            +badge('Stokholmas 26 A')
        +img('home/home-page-screen8.png')
    .home-screen8-row.container(data-apartment-26-a)
        .home-screen8-apartment.home-screen8-apartment-next-section(data-apartment-info)
            .apartment-info(data-apartment-info-table)
                table
                    thead
                        tr
                            td Общая площадь:
                            //- td(data-apartment-label="currency") 154.6 м2
                            td 
                                span.table-row-spinner.spinner
                        tr
                            td Количество комнат:
                            //- td(data-apartment-label="all_room") 4
                            td
                                span.table-row-spinner.spinner
                    tbody
                        td(style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;")
                            span.table-row-spinner.spinner
                        //- tr 
                        //-     td Кухня:
                        //-     td(data-apartment-label="custom_field_1") 32.8 м2
                        //- tr 
                        //-     td Ванная комната:
                        //-     td(data-apartment-label="custom_field_2") 12.4 м2
                        //- tr 
                        //-     td Спальня:
                        //-     td(data-apartment-label="custom_field_3") 24.9 м2
                        //- tr 
                        //-     td Детская комната:
                        //-     td(data-apartment-label="custom_field_4") 16.2 м2
            .apartment-scheme(data-apartment-scheme)
            .apartment-level
                h3 Етаж
                .apartment-level-buttons(data-level-buttons data-level-buttons-26-a)
                    button(value=0 data-apartment-26-a-level data-apartment-level-button=0 data-build=3 ) 0
                    button(value=1 data-apartment-26-a-level data-apartment-level-button=1 data-build=3).apartment-level-btn__active 1

