section.home-screen4.screen-home(data-home-screen)#placeSection
    .home-screen4-row
        .home-screen4-img(parallax-block data-speed="2" data-percent="0.1")
            span.rectangle
            +img('home/home-page-screen4.jpg')
        .home-screen4-desc(parallax-block data-speed="1" data-percent="-1")
            h2.home-screen-title Идеальное место для созидания и отдыха
            p.home-screen-subtitle StokholmasHaus26 — расположен самом сердце Межапарка. В начале 18 века здесь начали создаваться первые места для отдыха и развлечений. А в настоящее время Межапарк является одним из самых престижных мест в Риге. 
            p.home-screen-subtitle Здесь находится Большая эстрада Праздника песни, проходят концерты и мультимедийное световое шоу, расположен зоопарк, кафе и рестораны, магазины, почта. Преимущества месторасположения определяется непосредственной близостью наибольшего городского лесного парка и доступностью к транспортным развязкам, а главное - отсутствием альтернативного места под жилую застройку в центре Межапарка.
            .decoration-line
                span 
                span 
                span 
                span 
                span.active