- 
    var questionsList = [
        {
            title: 'Квартиры продаются без отделки или с ремонтом?',
            text: 'Квартиры и нежилые помещения продаются в серой отделке.'
        },
        {
            title: 'Можно ли выбрать дизайн помещений и заказать отделку квартиры по индивидуальному проекту?',
            text: 'Покупатель может выбрать один из трех, предложенных авторами проекта, вариантов дизайна и заказать финишную отделку квартиры у застройщика. Также, есть возможность приобрести одну из двух полностью укомплектованных и меблированных  демо-квартир.'
        },
        {
            title: 'Есть ли возможность объединения квартир?',
            text: 'Да, предусмотрена возможность объединения смежных квартир.'
        },
        {
            title: 'Какие материалы использованы в строительстве?',
            text: 'Материал постройки – кирпич с энергоэффективным утеплением, толщина внешних стен 51 см.'
        },
        {
            title: 'Предусмотрены ли помещения для хранения?',
            text: 'Да, места для хранения предусмотрены для каждой квартиры в подвальной зоне.'
        },
    ];

section.home-screen7.screen-home#questionSection(data-home-screen)
    .home-screen7-row.container
        h2.home-screen-title Ответы на самые распространенные вопросы
        ul.home-screen-answer-list.answer-list
            each item in questionsList
                li.answer-list__item
                    button(answer-item__label)
                        h3= item.title
                        span(answer-list__item-icon)
                            +svg('home-page-screen7__list-icon')
                    p(answer-item__answer)= item.text
    .home-screen7-img
        include ../homePageElements/home-screen7-element.pug
        include ../homePageElements/pin.pug
        .home-screen7-img__badge-one
            +badgeReverse('Stokholmas 26')
        .home-screen7-img__badge-two
            +badge('Stokholmas 26 C')
        +img('home/home-page-screen7.png')

    //-         position: absolute;
    //- top: 50%;
    //- left: 50%;