- 
    var apartments = [
        {
            name: "apartment-button",
            title: "Stokholmas 26",
            value: 1,
            id: "stokholmas-26",
        },
        {
            name: "apartment-button",
            title: "Stokholmas 26 c",
            value: 2,
            id: "stokholmas-26_c",
        },
    ];

section#plans.home-screen8
    .home-screen8-row.container
        ul.home-screen8-buttons(container-button-scheme)
            each apartment in apartments
                li.home-screen8-buttons__item
                    button(value= apartment.value).label-button= apartment.title
        .home-screen8-apartment(data-apartment-info)
            .apartment-info(data-apartment-info-table)
                table
                    thead
                        tr
                            td Общая площадь:
                            td 154.6 м2
                        tr
                            td Количество комнат:
                            td 4
                    tbody
                        tr 
                            td Кухня:
                            td 32.8 м2
                        tr 
                            td Ванная комната:
                            td 12.4 м2
                        tr 
                            td Спальня:
                            td 24.9 м2
                        tr 
                            td Детская комната:
                            td 16.2 м2
            .apartment-scheme(data-apartment-scheme)
                +img('home/home-screen8-scheme.png')
            .apartment-level
                h3 Этаж
                .apartment-level-buttons(data-level-buttons)
                    button(value=1) 1
                    button(value=2).apartment-level-btn__active 2 
    .home-screen8-img
        .home-screen8-img__badge-one
            include ../homePageElements/pin.pug
            +badge('Stokholmas 26 A')
        +img('home/home-page-screen8.png')
    .home-screen8-row.container
        .home-screen8-apartment(data-apartment-info)
            .apartment-info(data-apartment-info-table)
                table
                    thead
                        tr
                            td Общая площадь:
                            td 154.6 м2
                        tr
                            td Количество комнат:
                            td 4
                    tbody
                        tr 
                            td Кухня:
                            td 32.8 м2
                        tr 
                            td Ванная комната:
                            td 12.4 м2
                        tr 
                            td Спальня:
                            td 24.9 м2
                        tr 
                            td Детская комната:
                            td 16.2 м2
            .apartment-scheme(data-apartment-scheme)
                +img('home/home-screen8-scheme__1.png')
            .apartment-level
                h3 Этаж
                .apartment-level-buttons(data-level-buttons)
                    button(value=1) 1
                    button(value=2).apartment-level-btn__active 2 

