section#contacts.home-screen10.screen-home
    .home-screen10-row
        .home-screen10-title.container
            include ../homePageElements/home-screen10-element.pug
            h2 Расположениe
            span которое восхищает
        .container.home-screen10-map.location-map-container(data-location-container="auto")
            +svg('map-sprite')
            //- #map
            //-     .map