section.home-screen3.screen-home
    .home-screen3-row
        .home-screen3-img(parallax-block data-speed="2" data-percent="1")
            span.rectangle
            +img('home/home-page-screen3.jpg')
        .home-screen3-desc
            h2.home-screen-title Возрождение истории: стильный дом с историческим шармом
            p.home-screen-subtitle StokholmasHaus26 — комплекс из двух клубных жилых домов и коммерческого объекта в престижном районе Риги — Межапарке. Здания с качественной, современной реновацией гармонично сочетают городской стиль жизни с природным ансамблем. Проект реализовала творческая мастерская “DOM Interjera Studija” с более чем 20-летним опытом работы. Элегантный буржуазный дизайн, технические инновации и удобства продуманы до мелочей.
            p.home-screen-subtitle Представлены квартиры с оптимальной планировкой, площадью от ... до ... кв. м. Интерьеры холлов и квартир соответствуют общему стилю, лестничные пространства украшены витражами ручной работы. Большие деревянные окна добавляют света и гармоничности. Использованы высококачественные материалы.
            .decoration-line
                span 
                span 
                span 
                span 
                span.active 
                span 
                span 