
- 
    var aboutItems = [
        {
            title: 'квартир',
            count: 8,
        },
        {
            title: 'коммерческих помещения',
            count: '3',
        },
        {
            title: 'паркомест',
            count: 13,
        },
    ];

section.home-screen2.screen-home
    .home-screen2-row.container
        .home-screen2-desc
            h2.home-screen-title Историческое раследие и современный комфорт в сердце Межапарка
            p.home-screen-subtitle StokholmasHaus26 — комплекс из двух клубных жилых домов и коммерческого объекта в престижном районе Риги — Межапарке. Здания с качественной, современной реновацией гармонично сочетают городской стиль жизни с природным ансамблем. Элегантный буржуазный дизайн, технические инновации и удобства продуманы до мелочей.
        ul.home-screen2-info
            each item in aboutItems
                li 
                    span.home-screen2-info__count= item.count
                    span.home-screen2-info__title= item.title
    .home-screen2-img.main-image-decor
        +img('home/home-page-screen2.png')