-
    var aboutList = [
        {
            icon: 'list-icon__1',
            title: 'Современные удобства и безопасность <br> на высшем уровне',
            desc: 'Круглосуточное видеонаблюдение по периметру территории и входной зоны. Вся территория находится под постоянным контролем, что позволяет чувствовать себя защищенно в любое время суток.'
        },
        {
            icon: 'list-icon__2',
            title: 'Эстетика и атмосфера входной группы <br> в жилой комплекс',
            desc: 'Продуманная эстетика входной группы создает уютное и приветливое пространство, которое дополняется музыкальным и ароматическим сопровождением.'
        },
        {
            icon: 'list-icon__3',
            title: 'Высококачественные деревянные <br> элементы отделки',
            desc: 'Эксклюзивные деревянные окна, двери и полы подчеркивают роскошь StokholmasHaus26 и добавляют эстетики, долговечности и уюта в элегантный интерьер.'
        },
        {
            icon: 'list-icon__4',
            title: 'Современные удобства <br> на территории',
            desc: 'Автостоянка оборудована пунктом зарядки аккумуляторов электромобилей. Предусмотрено модное крытое место для хранения велосипедов. На благоустроенной зелеными насаждениями территории расположена детская площадка.'
        },
    ];
section#benefits.home-screen5.screen-home
    .home-screen5-title.container
        include ../homePageElements/home-screen5-element.pug
        h2 Эксклюзивные 
        span преимущества
    .home-screen5-row
        .home-screen5-img
            span.rectangle
            +img('home/home-page-screen5.png')
        ul.home-screen5-list
            each item, index in aboutList
                if index === 2
                    .delimiter-list
                li 
                    .home-screen5-list__img
                        +svg(item.icon)
                    h3.home-screen5-list__title !{item.title}
                    p.home-screen5-list__desc= item.desc