-
    var aboutList = [
        {
            icon: 'list-icon__1',
            title: 'Современные удобства и безопасность на высшем уровне',
            desc: 'Круглосуточное видеонаблюдение по периметру территории и входной зоны. Вся территория находится под постоянным контролем, что позволяет чувствовать себя защищенно в любое время суток.'
        },
        {
            icon: 'list-icon__2',
            title: 'Эстетика и атмосфера входной группы в жилой комплекс',
            desc: 'Продуманная эстетика входной группы создает уютное и приветливое пространство, в котором каждая деталь наполнена вниманием к дизайну. Музыкальное и ароматическое сопровождение дополняют атмосферу расслабления и комфорта'
        },
        {
            icon: 'list-icon__3',
            title: 'Высококачественные деревянные элементы одделки',
            desc: 'Эксклюзивные деревянные окна, двери и полы подчеркивают роскошь StokholmasHaus26. Эти элементы добавляют эстетики, долговечности и уюта, создавая элегантный интерьер.'
        },
        {
            icon: 'list-icon__4',
            title: 'Современные удобства для транспорта',
            desc: 'Автостоянка оборудована пунктом зарядки аккумуляторов электромобилей, , крытое и охраняемое место для хранения велосипедов на территории'
        },
    ];
section.home-screen5.screen-home
    .home-screen5-title
        h2 Мы эксклюзивны 
        span во всех отношениях
    .home-screen5-row
        .home-screen5-img
            span.rectangle
            +img('home/home-page-screen5.png')
        ul.home-screen5-list
            li 
                +svg('list-icon__4')