.home {
    .screen-home {
        padding-top: adaptive-size-width(160);
    }

    .rectangle {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: 32%;
        height: 100%;
        // transform: rotate(90deg);
        background: linear-gradient(270deg, #eae5df 0%, rgba(234, 229, 223, 0) 100%);
    }

    &-screen1 {
        padding-top: 109px;
        &-row {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        &-row-title__left {
            position: relative;
            // font-size: 190px;
            // шрифт на ширину екрану
            // font-size: 10vw;
            font-size: 245px;
            // @include adaptive-font(190, 40);
            line-height: 1;
            // font-family: 'Inter';
            text-transform: uppercase;
            color: $mc4;
            span:nth-child(1) {
                position: relative;
                display: inline-block;
                // font-size: 280px;

                font-size: 360px;
                // @include adaptive-font(280, 40);
                color: $mc3;
                padding-right: 31px;
                font-weight: 700;
                &:before {
                    content: '';
                    position: absolute;
                    // top: -8%;
                    // left: -50%;
                    // width: 12vw;
                    // height: 28vh;
                    left: 50%;
                    bottom: 38px;
                    transform: translateX(-58%);
                    width: 230px;
                    height: 304px;
                    overflow: hidden;
                    background-color: $wc;
                    z-index: -1;
                }
            }
        }
        &-row-title__right {
            position: relative;
            top: -40px;
            @include tFlex(flex-start);
            flex-direction: column;
            margin-left: auto;
            z-index: -1;
            &:before {
                content: '';
                position: absolute;
                top: -250%;
                right: -57.9%;
                width: 895px;
                height: 1436px;
                transform: rotate(-45deg);
                background-color: $gray;
                z-index: 1;
            }
            div {
                &::first-letter {
                    text-transform: uppercase !important;
                }
                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3) {
                    font-family: 'Bauhaus 93';
                    font-size: 300px;
                    font-weight: 400;
                }
                span:nth-child(1) {
                    // @include adaptive-font(190, 40);
                    color: #ecebe9;
                }
                span:nth-child(2) {
                    position: relative;
                    // @include adaptive-font(190, 40);
                    color: #f0dfcd;
                    span {
                        display: flex;
                        position: absolute;
                        top: 15%;
                        left: -316%;
                        transform: rotate(-90deg);
                        color: #ecebe9;
                        z-index: 1;
                        b {
                            opacity: 0;
                        }
                    }
                }
                span:nth-child(3) {
                    position: relative;
                    color: $mc4;
                    text-transform: lowercase;
                    z-index: -1;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -28%;
                        width: 895px;
                        height: 1436px;
                        transform: rotate(-45deg);
                        background-color: $wc;
                        transform: rotate(-45deg) translate(20%, -20%);
                        z-index: -2;
                    }
                }
                span:nth-child(4) {
                    position: relative;
                    padding-left: 30px;
                    color: $mc3;
                    font-size: 360px;
                    // @include adaptive-font(250, 80);
                    font-weight: 700;
                    z-index: 3;
                }
            }
            p {
                // position: absolute;
                // top: 18vh;
                // left: 50%;
                // transform: translateX(-37%);
                // max-width: 17.18vw;
                max-width: 330px;
                margin: 12px auto 0;
                width: 100%;
                font-size: 32px;
                // @include adaptive-font(32, 14);
                color: $mc5;
                font-weight: 350;
                line-height: 1;
                z-index: -1;
                &:after {
                    content: '';
                    position: relative;
                    display: block;
                    top: 24px;
                    bottom: 0;
                    right: 0;
                    height: 20px;
                    width: 908px;
                    background-color: $mc3;
                }
            }
            // .decor-line {
            //     position: relative;
            //     bottom: 0;
            //     right: 0;
            //     height: 20px;
            //     width: 808px;
            //     background-color: $mc3;
            // }
        }
        &-img {
            height: 825px;
            width: 100%;
        }
        .button-30 {
            margin-left: auto;
            margin-right: auto;
            margin-top: 32px;
        }
        &__arrow {
            position: absolute;
            bottom: 11.1vh;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }

    &-screen2 {
        &-desc {
            margin-bottom: 5.24vh;
            @include tFlex();
            @media (max-width: 900px) {
                flex-direction: column;
            }
            h2 {
                max-width: 48vw;
            }
            p {
                max-width: 34.5vw;
            }
        }
        &-info {
            @include tFlex();
            gap: 1vw;
            // gap: 20px;
            li {
                position: relative;
                // padding: 18px 20px;
                padding: 0.93vw 1.04vw;
                @include tFlex(flex-end);
                border-top: 2px solid #c5c1bd;
                flex: 1 1 23.17vw;
                // flex: 1 1 445px;
                &:nth-child(1) {
                    flex: 1 0 47.5vw;
                    // flex: 1 0 910px;
                    // flex-grow: 2;
                    // flex-basis: 910px;
                    // flex-grow: 22;
                }
                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 2px;
                    height: 50%;
                    background-color: #c5c1bd;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
                span {
                    &:nth-child(1) {
                        @extend .home-screen-title;
                        color: $mc3;
                    }
                    &:nth-child(2) {
                        color: $mc5;
                        font-weight: 350;
                        @include adaptive-font(32, 14);
                    }
                }
            }
        }
    }

    &-screen3 {
        &-row {
            @include tFlex();
            justify-content: flex-start;
            gap: adaptive-size-width(101);
            @media (max-width: 900px) {
                flex-direction: column-reverse;
            }
        }

        &-img {
            position: relative;
            overflow: hidden;
            max-width: adaptive-size-width(940);
            width: 100%;
            @media (max-width: 900px) {
                max-width: 100%;
                max-height: 400px;
            }
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                // height: 28.25vh;
                height: 21%;
            }

            &:before {
                top: 0;
                background: linear-gradient(180deg, #eae5df 0%, rgba(234, 229, 223, 0) 100%);
            }

            &:after {
                bottom: 0;
                background: linear-gradient(360deg, #eae5df 0%, rgba(234, 229, 223, 0) 100%);
            }

            img {
                object-fit: cover;
            }
        }

        &-desc {
            position: relative;
            width: adaptive-size-width(777);
            @media (max-width: 900px) {
                padding: 0 adaptive-size-width(15);
                width: 100%;
            }
            h2 {
                margin-bottom: adaptive-size-height(50);
            }
            p + p {
                margin-top: adaptive-size-height(20);
            }
        }
    }

    &-screen4 {
        @extend .home-screen3;

        &-row {
            @extend .home-screen3-row;
            flex-direction: row-reverse;
            @media (max-width: 900px) {
                flex-direction: column-reverse;
            }
        }
        &-img {
            @extend .home-screen3-img;
            .rectangle {
                left: 0;
                background: linear-gradient(90deg, #eae5df 0%, rgba(234, 229, 223, 0) 100%);
            }
        }
        &-desc {
            @extend .home-screen3-desc;
        }
        .decoration-line {
            right: 0;
            left: adaptive-size-width(-101);
            align-items: flex-start !important;
            span {
                margin-left: adaptive-size-width(40);
                margin-right: 0;
            }
            .active {
                margin-left: 0;
            }
        }
    }

    &-screen5 {
        &-title {
            position: relative;
            margin-bottom: adaptive-size-width(20);
            @include tFlex();
            flex-direction: column;
            align-items: flex-start;
            gap: adaptive-size-width(43);
            @include adaptive-font(248, 60);
            color: $mc;
            line-height: 0.8;
            text-transform: uppercase;
            h2 {
                align-self: flex-start;
                z-index: 2;
            }
            span {
                align-self: flex-end;
                z-index: 2;
            }
            @media (max-width: 1100px) {
                @include adaptive-font(140, 40);
            }
        }
        &-row {
            @include tFlex();
            justify-content: flex-start;
            @media (max-width: 1400px) {
                flex-direction: column-reverse;
            }
            @media (max-width: 900px) {
                flex-direction: column-reverse;
            }
        }
        &-img {
            @extend .home-screen3-img;
            &:before {
                display: none;
            }
            .rectangle {
                right: 0;
                background: linear-gradient(271deg, #eae5df 0%, rgba(234, 229, 223, 0) 100%);
            }
            @media (max-width: 1400px) {
                max-width: 100%;
            }
        }
        &-list {
            position: relative;
            z-index: 2;
            @include tFlex();
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: adaptive-size-width(900);
            align-items: start;
            gap: adaptive-size-width(40);
            @media (max-width: 1400px) {
                margin-bottom: adaptive-size-width(10);
                flex-direction: row;
                justify-content: center;
                max-width: 100%;
                padding: 0 adaptive-size-width(20);
            }
            li {
                padding: adaptive-size-width(10);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: adaptive-size-width(430);
                width: 100%;
                gap: adaptive-size-width(15);
                @media (min-width: 1920px) {
                    width: adaptive-size-width(430);
                }
                @media (max-width: 1400px) {
                    max-width: 500px;
                    align-items: center;
                }
                @media (max-width: 1050px) {
                    max-width: 100%;
                    padding: 5px;
                }
            }
        }
        &-list__img {
            width: adaptive-size-width(64);
            height: adaptive-size-width(64);
            svg {
                fill: none;
                width: 100%;
                height: 100%;
            }
            @media (max-width: 1400px) {
                width: 34px;
                height: 34px;
            }
        }
        &-list__title {
            max-width: adaptive-size-width(323);
            width: 100%;
            @include adaptive-font(32, 16);
            line-height: 1;
            font-weight: 500;
            @media (min-width: 1920px) {
                max-width: 100%;
            }
            @media (max-width: 1400px) {
                max-width: 100%;
                text-align: center;
            }
        }
        &-list__desc {
            font-family: $default-font2;
            @include adaptive-font(18, 14);
            color: $mc2;
            font-weight: 400;
            line-height: 1.4;
            @media (max-width: 1400px) {
                text-align: center;
            }
        }
    }

    &-screen6 {
        &-text {
            @extend .home-screen7-row;
            @media (max-width: 900px) {
                flex-direction: column;
            }
            .home-screen-title {
                margin-bottom: 0 !important;
            }
            p {
                // max-width: 664px;
                max-width: adaptive-size-width(664);
                @media (min-width: 1921px) {
                    max-width: adaptive-size-width(664);
                }
                @media (max-width: 1200px) {
                    max-width: adaptive-size-width(864);
                }
                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
    }

    &-screen7 {
        &-row {
            @include tFlex(flex-start);
            gap: adaptive-size-width(40);
            margin-bottom: adaptive-size-width(160);

            @media (max-width: 900px) {
                gap: 4vw;
                flex-direction: column;
                .home-screen-title {
                    margin-bottom: 0 !important;
                }
            }
            h2 {
                max-width: adaptive-size-width(743);
                width: 100%;
                @media (max-width: 768px) {
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
        .answer-list {
            position: relative;
            z-index: 2;
            @include tFlex();
            flex-direction: column;
            align-items: stretch;
            gap: adaptive-size-width(40);
            max-width: 900px;
            width: 100%;
            @media (min-width: 1921px) {
                max-width: adaptive-size-width(900);
            }
            &__item {
                padding-bottom: 40px;
                border-bottom: 2px solid #d9d9d9;
                color: $mc2;
                button {
                    @include tFlex(flex-start);
                    gap: adaptive-size-width(20);
                    width: 100%;
                    span {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        @media (min-width: 1921px) {
                            width: adaptive-size-width(24);
                            height: adaptive-size-width(24);
                        }
                    }
                }
                h3 {
                    font-family: 'Rain Tungsten';
                    @include adaptive-font(32, 18);
                    font-weight: 350;
                    line-height: 1;
                    text-align: left;
                }
                p {
                    height: 0;
                    font-family: $default-font2;
                    @include adaptive-font(18, 14);
                    font-weight: 400;
                    line-height: 1.4;
                }
            }
        }
        &-img {
            @extend .home-screen3-img;
            position: relative;
            overflow: visible;
            max-width: 100%;
            &:before {
                display: none;
            }
        }
    }

    &-screen8 {
        padding-top: adaptive-size-width(90);
        &-buttons {
            margin-bottom: adaptive-size-width(50);
            display: flex;
            &__item {
                position: relative;
                flex: 1 1 200px;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 2px;
                    height: 50%;
                    background-color: #c5c1bd;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    display: none;
                }
                &:last-child {
                    &:after {
                        display: block;
                        right: 0;
                    }
                }
            }
        }
        &-apartment {
            @include tFlex(stretch);
            margin-bottom: adaptive-size-width(160);
        }
        .apartment {
            &-info {
                padding: adaptive-size-width(40);
                max-width: adaptive-size-width(430);
                // height: adaptive-size-width(681);
                @include tFlex(center, center);
                flex-direction: column;
                width: 100%;
                border: 2px solid rgba(66, 66, 66, 0.2);
                table {
                    width: 100%;
                    tr {
                        @include tFlex();
                        margin-bottom: adaptive-size-width(20);
                    }
                    thead {
                        border-bottom: 2px solid hsla(0, 0%, 26%, 0.2);
                        tr {
                            @include adaptive-font(32, 14);
                            color: $mc;
                            font-weight: 350;
                            line-height: 1;
                            &:last-child {
                                margin-bottom: 0;
                                margin-bottom: adaptive-size-width(40);
                            }
                        }
                    }
                    tbody {
                        tr {
                            font-family: $default-font2;
                            @include adaptive-font(18, 14);
                            color: $mc2;
                            line-height: 1.4;
                            &:first-child {
                                padding-top: adaptive-size-width(40);
                            }
                        }
                    }
                }
            }
            &-scheme {
                width: adaptive-size-width(900);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-level {
                @extend .apartment-info;
                flex-direction: column;
                h3 {
                    margin-bottom: adaptive-size-width(20);
                    @include adaptive-font(32, 14);
                    font-weight: 350;
                    line-height: 1;
                }
                &-buttons {
                    @include tFlex(center, center);
                    flex-direction: column;
                    gap: adaptive-size-width(10);
                    button {
                        @include tFlex(center, center);
                        width: adaptive-size-width(64);
                        height: adaptive-size-width(64);
                        font-family: $default-font2;
                        @include adaptive-font(18, 14);
                        color: $mc;
                        font-weight: 400;
                        line-height: 1.4;
                        border-radius: 50%;
                        transition: background-color 0.3s ease;
                        &:hover {
                            color: $wc;
                            background-color: transparentize($mc2, 0.7);
                            border-color: $mc2;
                        }
                    }
                }
                .apartment-level-btn__active {
                    color: $wc;
                    background-color: $mc3;
                    border-color: $mc3;
                }
            }
        }
    }

    &-screen9 {
        &-text {
            @extend .home-screen6-text;
        }
    }

    &-screen10 {
        &-title {
            @extend .home-screen5-title;
            margin-bottom: adaptive-size-width(155);
        }
    }

    .delimiter-list {
        height: adaptive-size-width(2);
        width: 100%;
        background-color: $mc;
        opacity: 0.2;
        @media (max-width: 1400px) {
            display: none;
        }
    }

    .decoration-line {
        position: absolute;
        top: adaptive-size-width(-130);
        // top: adaptive-size-height(-130);
        right: adaptive-size-width(-101);
        @include tFlex();
        flex-direction: column;
        align-items: flex-end;
        gap: adaptive-size-width(15);
        width: adaptive-size-width(470);
        z-index: -1;
        span {
            display: block;
            width: adaptive-size-width(60);
            height: adaptive-size-height(5);
            margin-right: adaptive-size-width(40);
            background-color: $mc3;
        }
        .active {
            width: 100%;
            height: adaptive-size-height(20);
            margin-right: 0;
        }
    }

    .label-button {
        position: relative;
        @include tFlex(center, center);
        padding: adaptive-size-width(40);
        @include adaptive-font(64, 20);
        color: $mc;
        font-weight: 350;
        line-height: 1;
        border-bottom: 2px solid #c5c1bd;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: #c5c1bd1f;
        }
        &__active {
            border-color: $mc3;
            background-color: #c5c2be33;
        }
    }

    .apartment-button {
        display: none;
        &:checked {
            & + .label-button {
                transition: all 0.3s ease;
                border-color: $mc3;
                background-color: #c5c2be33;
            }
        }
    }
}

@import '../parts/home/home-grid-block';
@import '../parts/home/genplan';
@import '../parts/home/home-gallery';
@import '../parts/home/circle-screen';

.home-news {
    @include row-flex();
    .text-style-h-1 {
        @include size(24);
        @include shift(0);
        text-align: center;
        margin-bottom: 40px;
    }
    .news-card {
        @include size(12);
        @include shift(0);
        @include to(1440px) {
            @include size(12);
            @include shift(0);
        }
    }
}

.tablet {
    .home-news {
        .text-style-h-1 {
        }
        .news-card {
            @include size(24);
            @include shift(0);
            height: 50vh;
        }
        .news-card ~ .news-card {
            margin-top: 60px;
        }
    }
}

.mobile {
    .home-news {
        margin-left: 0;
        margin-right: 0;
        .text-style-h-1 {
        }
        .news-card {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            height: auto;
            align-items: flex-start;
        }
        .news-card ~ .news-card {
            margin-top: 0;
        }
    }
}

.home-progress {
    display: flex;
    flex-direction: column;
    .text-style-h-1 {
        margin-bottom: 12vh;
        text-align: center;
        margin-bottom: 40px;
    }
    .progress-line {
        margin-top: 35px;
    }
    &__video {
        position: relative;
        padding-bottom: 34%;
        margin-left: calc(var(--page-side-fields) * -1);
        margin-right: calc(var(--page-side-fields) * -1);
        &-button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .button-30 {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    &__mobile-scroll-helper {
        display: none;
    }
}

.tablet {
    .home-progress {
        padding-left: 0;
        padding-right: 0;
        width: calc(100% - (var(--page-side-fields) * 2));
        .text-style-h-1 {
            margin-bottom: 40px;
        }
        .progress-line {
            justify-content: space-around;
        }
        &__video {
            padding-bottom: 52.5%;
            border-radius: 12px;
            overflow: hidden;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            &-button {
                width: 64px;
                height: 64px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            video {
            }
        }
        .button-30 {
            margin-top: 20px;
        }
    }
}

.mobile {
    .home-progress {
        padding-left: 0;
        padding-right: 0;
        width: calc(100% - (var(--page-side-fields) * 2));
        position: relative;
        .text-style-h-1 {
            margin-bottom: 40px;
        }
        .progress-line {
            justify-content: space-around;
            max-width: 100%;
            overflow-x: auto;
            overflow-y: visible;
            height: 140px;
            justify-content: flex-start;
            &:after {
                top: 80px;
                /*5 items*/
                width: calc(40vw * 5 + (42px * 5));
            }
            .section-progress-item {
                margin-left: 20vw;
                margin-right: 20vw;
                flex-shrink: 0;
            }
        }
        &__video {
            padding-bottom: 92.55%;
            border-radius: 12px;
            overflow: hidden;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            &-button {
                width: 64px;
                height: 64px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            video {
            }
        }
        .button-30 {
            margin-top: 20px;
        }
        &__mobile-scroll-helper {
            display: block;
            position: absolute;
            right: 0;
            bottom: 145px;
            bottom: 65px;
        }
    }
}

.section-progress-item {
    position: relative;
    width: 42px;
    height: 56px;
    background-color: var(--color-new-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    .ocean-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
    }
    &__value {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 90%;
        color: var(--color-white);
        position: relative;
        z-index: 2;
    }
    svg {
        position: absolute;
        top: calc(100% - 1px);
        path {
            fill: #2f8a38;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        color: var(--color-new-blue);
        position: absolute;
        top: calc(100% + 30px);
        left: 50%;
        white-space: nowrap;
        text-transform: uppercase;
        transform: translateX(-50%);
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: calc(100% + 18px);
        height: 11px;
        width: 2px;
        background-color: var(--color-new-blue);
    }
    /* waves */
    .ocean {
        --progress: 0%;
        height: 50px; /* change the height of the waves here */
        width: 50vw;
        position: absolute;
        top: calc(100% - var(--progress));
        left: 0;
        right: 0;
        transform: translateX(-50%);
        overflow-x: hidden;
    }

    .wave {
        background-image: url("data:image/svg+xml,%3Csvg width='525' height='45' viewBox='0 0 525 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M525 21C343.5 21 362.5 -0.000158444 268 8.96592e-10C144 8.96592e-10 145 21 0.5 21V44.7L525 44.5V21Z' fill='%232F8A38'/%3E%3C/svg%3E%0A");
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
    }

    .wave:nth-of-type(2) {
        bottom: 0;
        animation: wave 18s linear reverse infinite;
        opacity: 0.65;
    }

    @keyframes wave {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

.tablet {
    .section-progress-item {
        &__title {
            font-size: 14px;
        }
    }
}

.progress-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 40px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: var(--color-new-blue);
    }
}

.mobile {
    .progress-line {
        margin-bottom: 0px;
    }
}

.contacts {
    @include row-flex();
    .form-wrapper {
        width: auto;
        height: auto;
        transform: none;
        visibility: visible;
        overflow: initial;
        position: static;
        opacity: 1;
        background: none;
        .form {
            @include shift-lg-padding-left(1);
            @include shift-lg-padding-right(1);
            padding-top: 40px;
            padding-bottom: 40px;
            border: 1px solid var(--color-new-blue);
            border-radius: 12px;
            width: 100%;
        }
    }
    &__h1 {
        @include size(24);
        @include shift(0);
        margin-bottom: 40px;
        text-align: center;
    }
    &__right {
        @include size(12);
        @include shift(0);
    }
    &__left {
        @include size(12);
        @include shift(0);
        column-count: 2;
        & > * {
            break-inside: avoid-column;
        }
    }
    &__text {
        color: rgba($color-new-blue, 0.7);
        @include text-style-body;
        margin-bottom: 10px;
        &--no-b-margin {
            margin-bottom: 0;
        }
        &[href*='tel'] {
            margin-bottom: 20px;
        }
    }
    &__title {
        @include text-style-h-3;
        color: var(--color-new-blue);
    }
    &__group ~ &__group {
        margin-top: 40px;
    }
    &__group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .contacts__title {
            margin-bottom: 10px;
        }
    }
}

.desktop {
    .contacts {
        &__text {
            transition: 0.25s ease-out;
            &[href]:hover {
                color: $color-new-blue;
            }
        }
    }
}

.tablet {
    .contacts {
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
        }
        &__left {
            @include size(24);
            margin-bottom: 40px;
        }
        &__right {
            @include size(24);
        }
        .form-wrapper {
            .form {
                @include shift-lg-padding(4);
            }
        }
    }
}

.mobile {
    .contacts {
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 12px;
            margin-bottom: 8px;
            &[href*='tel'] {
                margin-bottom: 20px;
            }
            &--no-b-margin {
                margin-bottom: 0;
            }
        }
        &__left {
            @include size(24);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
            column-count: 1;
            .contacts__group:nth-child(2),
            .contacts__group:nth-child(3) {
                @include size(12);
                @include shift(0);
            }
            .contacts__group:last-child,
            .contacts__group:first-child {
                @include size(24);
                @include shift(0);
            }
            .contacts__group:last-child {
                margin-top: 16px !important;
            }
            .contacts__group:first-child {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .button-30 {
                    margin-right: auto;
                    margin-left: 0;
                }
                .contacts__title,
                .contacts__text {
                    width: 50%;
                }
            }
            .contacts__group ~ .contacts__group {
                margin-top: 32px;
            }
            .contacts__group:last-child {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            .contacts__group:nth-last-child(2) {
                align-items: flex-end;
            }
        }
        &__right {
            @include size(24);
        }
        .form-wrapper {
            .form {
                @include shift-lg-padding(0);
            }
        }
    }
}
