- 
    var menu = [
        {
            title: 'Про комплекс',
            link: '#about-complex',
        },
        {
            title: 'Наши преимущества',
            link: '#benefits',
        },
        {
            title: 'Галерея',
            link: '#gallery',
        },
        {
            title: 'Планировки',
            link: '#plans',
        },
        {
            title: 'Контакты',
            link: '#contacts',
        },
    ]

nav(data-lenis-prevent).menu
    ul.menu__item-inner(data-direction="bt")
        each item in menu
            li(scroll-up-arrow)
                button(data-title= item.title data-id= item.link data-menu-item).header-menu__link.text-style-1920-nav.color-graphite= item.title