@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sfPro/SF-Pro-Display-Medium.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sfPro/SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sfPro/SF-Pro-Display-Light.otf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Rain Tungsten';
    src: url('../fonts/rainTungsten/RainTungsten-Medium.eot') format('eot');
    src: local('Rain Tungsten'), local('Rain Tungsten'),
        url('../fonts/rainTungsten/RainTungsten-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rainTungsten/RainTungsten-Medium.woff') format('woff'),
        url('../fonts/rainTungsten/RainTungsten-Medium.ttf') format('truetype');
    font-weight: 500;
}

// @font-face {
//     font-family: 'Rain Tungsten';
//     src: url('../fonts/rainTungsten/RainTungsten-Medium.ttf') format('truetype');
//     font-weight: 500;
// }

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/RainTungsten-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/RainTungsten-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/RainTungsten-SemiBold.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Bauhaus 93';
    src: url('../fonts/bauhaus/Bauhaus-Regular.ttf') format('truetype');
    font-weight: 400;
}

// @font-face {
//   font-family: 'Druk Cyr';
//   src: url('../fonts/DrukCyr/DrukCyr-Medium.eot') format('eot');
//   src: local('Druk Cyr'), local('Druk Cyr'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.woff') format('woff'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.ttf') format('truetype');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Druk Cyr';
//   src: url('../fonts/DrukCyr/DrukCyr-Medium.eot') format('eot');
//   src: local('Druk Cyr'), local('Druk Cyr'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.woff') format('woff'),
//     url('../fonts/DrukCyr/DrukCyr-Medium.ttf') format('truetype');
//   font-weight: 500;
// }
