.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $mc;
    z-index: 3;
    visibility: hidden;

    &__item-inner {
        @include tFlex(center, center);
        flex-direction: column;
        gap: 24px;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .header-menu__link {
            display: block;
            position: relative;
            overflow: hidden;
            font: 500 64px/100% $default-font2, sans-serif;
            @include adaptive-font(64, 32, 1200);
            color: transparent;
            line-height: 1;

            &::before {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: $wc;
                transition: 0.25s ease-out;
                transform: none;
            }

            &:hover:before {
                transform: translateY(100%);
            }

            &:hover:after {
                transform: translateY(2px);
            }

            &:after {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: -4px;
                width: 100%;
                height: 100%;
                color: $mc3;
                transition: 0.25s ease-out;
                transform: translateY(-100%);
            }
        }
    }
}
