mixin badge(text)
    .pin-inner
        .pin 
            .badge= text 
            .left-line 
                <svg class="badge-pin badge-pin-normal__desk" width="181" height="68" viewBox="0 0 181 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="152" cy="29" r="12" fill="#D47E27"/>
                    <path d="M0.33333 65C0.33333 66.4728 1.52724 67.6667 3 67.6667C4.47276 67.6667 5.66666 66.4728 5.66666 65C5.66666 63.5273 4.47276 62.3333 3 62.3333C1.52724 62.3333 0.33333 63.5273 0.33333 65ZM50 65L50 65.5L50 65ZM115.5 65L115.5 65.5L115.707 65.5L115.854 65.3536L115.5 65ZM148.833 29C148.833 30.4728 150.027 31.6667 151.5 31.6667C152.973 31.6667 154.167 30.4728 154.167 29C154.167 27.5273 152.973 26.3333 151.5 26.3333C150.027 26.3333 148.833 27.5273 148.833 29ZM3 65.5L50 65.5L50 64.5L3 64.5L3 65.5ZM50 65.5L115.5 65.5L115.5 64.5L50 64.5L50 65.5ZM115.854 65.3536L151.854 29.3536L151.146 28.6465L115.146 64.6465L115.854 65.3536Z" fill="white"/>
                </svg>

                <svg class="badge-pin badge-pin-normal__mob" width="68" height="33" viewBox="0 0 68 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="60.6207" cy="6.62069" r="6.62069" transform="rotate(180 60.6207 6.62069)" fill="#D47E27"/>
                    <path d="M0.333333 30.0001C0.333333 31.4728 1.52724 32.6667 3 32.6667C4.47276 32.6668 5.66667 31.4728 5.66667 30.0001C5.66667 28.5273 4.47276 27.3334 3 27.3334C1.52724 27.3334 0.333333 28.5273 0.333333 30.0001ZM35.9999 30.0001L35.9999 30.5001L36.2009 30.5001L36.346 30.3609L35.9999 30.0001ZM57.8333 6.50009C57.8333 7.97285 59.0272 9.16676 60.5 9.16676C61.9727 9.16676 63.1666 7.97285 63.1666 6.50009C63.1666 5.02733 61.9727 3.83342 60.5 3.83342C59.0272 3.83342 57.8333 5.02733 57.8333 6.50009ZM3 30.5001L35.9999 30.5001L35.9999 29.5001L3 29.5001L3 30.5001ZM36.346 30.3609L60.8461 6.86093L60.1539 6.13925L35.6538 29.6392L36.346 30.3609Z" fill="white"/>
                </svg>


mixin badgeReverse(text)
    .pin-inner-reverse
        .pin-reverse 
            .badge-reverse= text 
            .left-line-reverse 
                <svg class="badge-pin badge-pin-reverse__desk" width="180" height="68" viewBox="0 0 180 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="29" cy="39" r="12" fill="#D47E27"/>
                    <path d="M179.667 3.49999C179.667 2.02723 178.473 0.833321 177 0.833321C175.527 0.83332 174.333 2.02723 174.333 3.49999C174.333 4.97275 175.527 6.16666 177 6.16666C178.473 6.16666 179.667 4.97275 179.667 3.49999ZM130 3.49998L130 2.99998L130 3.49998ZM64.5 3.49999L64.5 2.99999L64.2929 2.99999L64.1464 3.14643L64.5 3.49999ZM31.1667 39.5C31.1667 38.0272 29.9728 36.8333 28.5 36.8333C27.0272 36.8333 25.8333 38.0272 25.8333 39.5C25.8333 40.9727 27.0272 42.1667 28.5 42.1667C29.9728 42.1667 31.1667 40.9727 31.1667 39.5ZM177 2.99999L130 2.99998L130 3.99998L177 3.99999L177 2.99999ZM130 2.99998L64.5 2.99999L64.5 3.99999L130 3.99998L130 2.99998ZM64.1464 3.14643L28.1465 39.1464L28.8535 39.8535L64.8536 3.85354L64.1464 3.14643Z" fill="white"/>
                </svg>

                <svg class="badge-pin badge-pin-reverse__mob" width="67" height="34" viewBox="0 0 67 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="6.62069" cy="26.6207" r="6.62069" fill="#D47E27"/>
                    <path d="M66.6667 3.00001C66.6667 1.52725 65.4728 0.333342 64 0.333342C62.5272 0.333341 61.3333 1.52725 61.3333 3.00001C61.3333 4.47277 62.5272 5.66667 64 5.66667C65.4728 5.66667 66.6667 4.47277 66.6667 3.00001ZM31.0001 3.00001L31.0001 2.50001L30.7991 2.50001L30.654 2.63917L31.0001 3.00001ZM9.16671 26.5C9.16671 25.0272 7.9728 23.8333 6.50004 23.8333C5.02728 23.8333 3.83337 25.0272 3.83337 26.5C3.83337 27.9728 5.02728 29.1667 6.50004 29.1667C7.9728 29.1667 9.16671 27.9728 9.16671 26.5ZM64 2.50001L31.0001 2.50001L31.0001 3.50001L64 3.50001L64 2.50001ZM30.654 2.63917L6.15393 26.1392L6.84615 26.8608L31.3462 3.36085L30.654 2.63917Z" fill="white"/>
                </svg>
