mixin badge(text)
    .pin-inner
        .pin 
            .badge= text 
            .left-line 
                <svg width="181" height="68" viewBox="0 0 181 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="152" cy="29" r="12" fill="#D47E27"/>
                    <path d="M0.33333 65C0.33333 66.4728 1.52724 67.6667 3 67.6667C4.47276 67.6667 5.66666 66.4728 5.66666 65C5.66666 63.5273 4.47276 62.3333 3 62.3333C1.52724 62.3333 0.33333 63.5273 0.33333 65ZM50 65L50 65.5L50 65ZM115.5 65L115.5 65.5L115.707 65.5L115.854 65.3536L115.5 65ZM148.833 29C148.833 30.4728 150.027 31.6667 151.5 31.6667C152.973 31.6667 154.167 30.4728 154.167 29C154.167 27.5273 152.973 26.3333 151.5 26.3333C150.027 26.3333 148.833 27.5273 148.833 29ZM3 65.5L50 65.5L50 64.5L3 64.5L3 65.5ZM50 65.5L115.5 65.5L115.5 64.5L50 64.5L50 65.5ZM115.854 65.3536L151.854 29.3536L151.146 28.6465L115.146 64.6465L115.854 65.3536Z" fill="white"/>
                </svg>

mixin badgeReverse(text)
    .pin-inner-reverse
        .pin-reverse 
            .badge-reverse= text 
            .left-line-reverse 
                <svg width="180" height="68" viewBox="0 0 180 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.7" cx="29" cy="39" r="12" fill="#D47E27"/>
                    <path d="M179.667 3.49999C179.667 2.02723 178.473 0.833321 177 0.833321C175.527 0.83332 174.333 2.02723 174.333 3.49999C174.333 4.97275 175.527 6.16666 177 6.16666C178.473 6.16666 179.667 4.97275 179.667 3.49999ZM130 3.49998L130 2.99998L130 3.49998ZM64.5 3.49999L64.5 2.99999L64.2929 2.99999L64.1464 3.14643L64.5 3.49999ZM31.1667 39.5C31.1667 38.0272 29.9728 36.8333 28.5 36.8333C27.0272 36.8333 25.8333 38.0272 25.8333 39.5C25.8333 40.9727 27.0272 42.1667 28.5 42.1667C29.9728 42.1667 31.1667 40.9727 31.1667 39.5ZM177 2.99999L130 2.99998L130 3.99998L177 3.99999L177 2.99999ZM130 2.99998L64.5 2.99999L64.5 3.99999L130 3.99998L130 2.99998ZM64.1464 3.14643L28.1465 39.1464L28.8535 39.8535L64.8536 3.85354L64.1464 3.14643Z" fill="white"/>
                </svg>